<p id="notice"><%= notice %></p>

<p>
  <strong>Digest:</strong>
  <%= @blob.digest %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @blob.uri %>
</p>

<p>
  <strong>Size:</strong>
  <%= @blob.size %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @blob.content_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @blob.name %>
</p>

<%= link_to 'Edit', edit_blob_path(@blob) %> |
<%= link_to 'Back', blobs_path %>
